/* ==========================
   THEME VARIABLES
========================== */
:root[data-theme="light"] {
  --background-color: #f2f1f1;
  --text-color: #181818;
  --primary-bg-color: #f2f1f1;
  --topnav-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  --btmnav-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  --transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

:root[data-theme="dark"] {
  --background-color: #000000;
  --text-color: #f2f1f1;
  --primary-bg-color: #000000 ;
  --topnav-box-shadow: 0 0 8px rgba(100, 100, 100, 1);
  --btmnav-box-shadow: 0 0 5px rgba(100, 100, 100, 1);
  --transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}




.icon {
  color :var(--text-color) !important;
}
.link {
  all: unset !important;
}
/* ==========================
   GLOBAL RESET & BODY
========================== */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Poppins, system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: var(--transition);
  user-select: none;
  overflow: hidden; /* Only page-layout scrolls */
}

body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}

/* ==========================
   PAGE LAYOUT
========================== */
.page-layout {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0; /* important for flex scrolling */
  overflow-y: auto;
  padding: 5px;
  padding-bottom: 200px; /* space for bottom nav */
}

.page-layout::-webkit-scrollbar {
  display: none;
}

/* ==========================
   TOP NAVBAR
========================== */
.topnavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px 5px 10px;
  background-color: var(--primary-bg-color);
  transition: var(--transition);
  z-index: 10;
}
.topnavbar .title {
  display: flex;
  align-items: center;
  gap: 15px ;
}

/* ==========================
   BOTTOM NAVBAR
========================== */
.bottomnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0px 25px 5px 25px ;
  background-color: var(--primary-bg-color);
  transition: var(--transition);
  z-index: 10;
}
.nav {
  justify-content: center;
  align-items: center ;
}

.nav:hover {
  background-color: blue !important;
  padding: 5px 10px !important;
  border-radius: 12px!important;
}